@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --blue-black: #243e63;
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  --purple: rgb(100 21 255 / var(--tw-text-opacity));
  --darker-purple: rgb(80 11 200 / var(--tw-text-opacity));
  --grey: rgb(226, 232, 240);
}
*:not(html) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* border: 1px solid grey; */
}

a {
  text-decoration: none;
}
section {
  background-color: rgb(245, 245, 245);
}
p {
    line-height: 1.5;
    font-size: 1rem; 
}
.click{
    transition: all 300ms ease;
}
.click:hover{
    transform: scale(1.1);
}
button{
    cursor: pointer;
}
/* 

LANDING PAGE

*/

#landing-page {
  min-height: 100svh;
}

.header {
  position: absolute;
  /* these: from here to bottom is how you center with position absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
}
.header__para{
    font-size: 1.5rem;
    line-height: 2;
    max-width: 28.125rem;
}
.title {
  font-size: 7.5rem;
  margin-bottom: 12px;
  text-align-last: left;
  line-height: 1;
}
.title--secondary {
  color: #f06449 !important;
}
.orange {
  color: #f06449 !important;
}

.about-me__links{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 16px;
    
    }
.about-me__link--image-mask{
    width: 50px;
    height: 50px;
    display: flex;
    padding: 16px;
    margin: 0 20px 0 0;
    background-color: #f06449;
    border-radius: 32px;
    }
.mail__btn{
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: rgb(250, 250, 250);
    position: absolute;
    bottom: 32px;
    right: 40px;
}
.scroll{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

}

.scroll__icon{
    width: 20px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation: scroll 1000ms infinite alternate-reverse; */

}
/* this: targets the "pintinho no centro". Ja centralizado pelo flex do pai */
.scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100%{
        transform: translateY(-3px);
    }
}

/* 

NAVIGATION

*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
}
.nav__link--list {
  display: flex;
}
.nav__link {
  margin: 0 12px;
}
.nav__link--anchor {
  font-size: 1rem;
  color: #242424;
  font-weight: 700;
}
li {
  list-style-type: none;
}
#personal-logo {
  width: 80px;
  height: 80px;
  /* filter: invert(100%); */
  background-color: none;
}

.fa-adjust {
  font-size: 1.25rem;
}
